<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giahan.app.vietskindoctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".VietSkinDoctorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoTitle">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>
        <provider
            android:name=".utils.PhotoProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.giahan.app.vietskindoctor.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/filepaths" />-->
        <!--</provider>-->

        <activity
            android:name=".activity.PassCodeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.firebase.FMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.firebase.FIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false"/>

        <activity android:name=".activity.CreatePassCodeActivity"
            android:screenOrientation="portrait"/>

        <!--<activity android:name=".activity.PassCodeActivity"
            android:screenOrientation="portrait"/>-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/Fully.Translucent"
            tools:replace="android:theme" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".activity.VideoCall2Activity"/>

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="density|fontScale|locale|orientation|layoutDirection|screenLayout|screenSize|uiMode"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GuideActivity"
            android:configChanges="density|fontScale|locale|orientation|layoutDirection|screenLayout|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />

        <activity
            android:name=".activity.IntroImageActivity"
            android:configChanges="density|fontScale|locale|orientation|layoutDirection|screenLayout|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />

        <activity
            android:name=".activity.WebviewActivity"
            android:configChanges="density|fontScale|locale|orientation|layoutDirection|screenLayout|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Swipe.Back.NoActionBar2" />
        <activity android:name=".activity.VideoCallActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fe8e0acb0413da105b1827f8128b9b1d31c4c348" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/logo_app" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/vietskin_color" />
    </application>

</manifest>